html, body{
	width: 100%;
	height: 100%;
	background-color: #ffd29d;
}
main{
	margin: 0 auto;
	width: 1100px;
	background-color: rgba(255, 255, 255, 0.8);
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 180%;
}
h1{
	font-size: 36px;
	text-align: center;
	font-family: 'Concert One', cursive;
	font-size: 42px;
	color: #542e01;
	text-shadow: 0.08em 0.08em #ffd29d;
}
h2{
	font-family: 'Concert One', cursive;
	font-size: 32px;
	color: #542e01;
	text-shadow: 0.08em 0.08em #ffd29d;
	margin-top: 0;
}

body{
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	min-width: 900px;
}
p{
	width: 900px;
    font-size: 18px;
}

dt{
    background-color: #c37755;
    padding: 0.2em 0.5em;
    color: white;
    font-size: 20px;
    border-top: 3px solid #542e01;
    font-family: 'Concert One', cursive;
    font-size: 24px;
}

dt~dt{
	margin-top: 0.5em;
}
dl,dt{
	width: 900px;
	margin:0 auto;
	box-sizing: border-box;
}
dd{
	margin-left: 0;
	display: block;
}
img{
	float: left;
}